NEXT_PUBLIC_BOOKING_AID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=https://reservationsnew.com
NEXT_PUBLIC_AWIN_PUBLISHER_ID=2793280
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
AWIN_API_TOKEN=your_awin_api_token_here
