NEXT_PUBLIC_BOOKING_AID=
NEXT_PUBLIC_TRAVELPAYOUTS_TOKEN=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=https://reservationsnew.com
NEXT_PUBLIC_AWIN_PUBLISHER_ID=2793280
AWIN_API_TOKEN=your_awin_api_token_here
